.row .thumbnail img {
    height: 150px;
    cursor: pointer;
}

.content {
    background: #ffffff;
    height: 350px;
    margin-bottom: 20px;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    max-height: 350px;
    overflow: scroll;
    padding: 5px;
}

.row .thumbnail .avatar {
    width: 40px;
    height: 40px;
}

.chat-left {
    margin-left: 10px;
    margin-top: 10px;
}

.chat-right {
    margin-top: 10px;
}

.chat-left > div {
    margin-left: 3px;
    margin-bottom: 5px;
}

.chat-right > div {
    margin-right: 3px;
    margin-bottom: 5px;
    position: relative;
}

.username {
    display: inline-block;
    color: #8c8c8c;
    font-size: 13px;
}

.username-left {
    float: left;
    margin-left: 3px;
}

.username-right {
    float: right;
    margin-right: 3px;
}

.content-span {
    padding: 2px 5px;
    background: green;
    color: white;
    border-radius: 5px;
    max-width: 250px;
    word-break: break-all;
    min-height: 20px;
    min-width: 26px;
    margin: 0 3px;
    resize: none;
    outline: none;
    text-align: left;
}

.number {
    font-size: 16px;
}

.joined {
    display: block;
    background: #ccc;
    padding: 0 5px;
    border-radius: 5px;
    text-align: center;
    margin:3px auto;
    width:fit-content;
    width:-webkit-fit-content;
    width:-moz-fit-content;
}